@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

body{
  font-family:'Fjalla One', sans-serif;
  font-size:12pt ;
  background-color: yellow;
line-height: 1.5;

}
h1 {
  color:rgba(0, 50, 50);
  color: teal;
  Color:#bada55;
  background-color: #556b2f;
  font-size:28pt ;
}

p {
  font-weight: 900;
text-indent:5% ;
}

a {
  color: teal;
  text-decoration:none;

}

ul{
  list-style: square;
}
li:hover{
  background-color: pink;
}

  .flan {
    font-weight: 400;
    color: orange
