html{
  font-family: 'Acme', sans-serif;
color: white;
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: grey;
}
  .grid-image{
    width: 300px;
  }
  h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
    border: 5px solid white;
  }
