body {
  background-color: grey;
  color: white;
}
p {
  color: white;
  text-indent: 5%;
font-family: 'Arimo',sans-serif ;
font-size: 12pt;
}
h1 {
  font-size: 40pt;
  border: 3px solid #f9432a;
  padding: 30px;
  width: 30%;
}



a {
  color: white;
  text-decoration: none;
}
a:hover{
  background-color: blue;
}
.description {
  font-family: 'Noto Sans TC',sans-serif;
  font-weight: 400;
}
.headers {
  font-size: 16pt;
  text-indent: 5%;
  font-family: 'Noto Sans TC',sans-serif;
}
.table {
   font-family:'Noto Sans TC',sans-serif;
   font-size: 12pt;
 }

 .paragraph {

 }
