@import url(https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">);

body {
  width: 900px;
  margin: 0 auto;
  background-image: url("images/background.jpg");
}

h1 {
text-align: center;
font-size: 75px;
font font-family: 'Kanit', sans-serif;
border: 5px solid;
border color: green;

}

.g1-img-1{
  height: 200px;

}

nav a {
  color: Green;
  font-size: 20px;

}
